E-LearningApp/Connected Services/StudentServices/StudentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="StudentSign">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StudentSignResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StudentSignResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StudentRegister">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="area" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobileNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StudentRegisterResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddToCart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StudentID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CourseID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddToCartResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateCart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="shoppingCartID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCartResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteCart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="shoppingCartID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCartResponse">
        <s:complexType />
      </s:element>
      <s:element name="ViewCart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="studentID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewCartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewCartResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CourseDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="courseName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CourseDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CourseDetailResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ViewCourses">
        <s:complexType />
      </s:element>
      <s:element name="ViewCoursesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewCoursesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTotal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="studentID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTotalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTotalResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="studentID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="total" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmOrderResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="StudentSignSoapIn">
    <wsdl:part name="parameters" element="tns:StudentSign" />
  </wsdl:message>
  <wsdl:message name="StudentSignSoapOut">
    <wsdl:part name="parameters" element="tns:StudentSignResponse" />
  </wsdl:message>
  <wsdl:message name="StudentRegisterSoapIn">
    <wsdl:part name="parameters" element="tns:StudentRegister" />
  </wsdl:message>
  <wsdl:message name="StudentRegisterSoapOut">
    <wsdl:part name="parameters" element="tns:StudentRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="AddToCartSoapIn">
    <wsdl:part name="parameters" element="tns:AddToCart" />
  </wsdl:message>
  <wsdl:message name="AddToCartSoapOut">
    <wsdl:part name="parameters" element="tns:AddToCartResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCartSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCart" />
  </wsdl:message>
  <wsdl:message name="UpdateCartSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCartResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCartSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCart" />
  </wsdl:message>
  <wsdl:message name="DeleteCartSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCartResponse" />
  </wsdl:message>
  <wsdl:message name="ViewCartSoapIn">
    <wsdl:part name="parameters" element="tns:ViewCart" />
  </wsdl:message>
  <wsdl:message name="ViewCartSoapOut">
    <wsdl:part name="parameters" element="tns:ViewCartResponse" />
  </wsdl:message>
  <wsdl:message name="CourseDetailSoapIn">
    <wsdl:part name="parameters" element="tns:CourseDetail" />
  </wsdl:message>
  <wsdl:message name="CourseDetailSoapOut">
    <wsdl:part name="parameters" element="tns:CourseDetailResponse" />
  </wsdl:message>
  <wsdl:message name="ViewCoursesSoapIn">
    <wsdl:part name="parameters" element="tns:ViewCourses" />
  </wsdl:message>
  <wsdl:message name="ViewCoursesSoapOut">
    <wsdl:part name="parameters" element="tns:ViewCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="GetTotalSoapIn">
    <wsdl:part name="parameters" element="tns:GetTotal" />
  </wsdl:message>
  <wsdl:message name="GetTotalSoapOut">
    <wsdl:part name="parameters" element="tns:GetTotalResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmOrderSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmOrder" />
  </wsdl:message>
  <wsdl:message name="ConfirmOrderSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="StudentServiceSoap">
    <wsdl:operation name="StudentSign">
      <wsdl:input message="tns:StudentSignSoapIn" />
      <wsdl:output message="tns:StudentSignSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StudentRegister">
      <wsdl:input message="tns:StudentRegisterSoapIn" />
      <wsdl:output message="tns:StudentRegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddToCart">
      <wsdl:input message="tns:AddToCartSoapIn" />
      <wsdl:output message="tns:AddToCartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCart">
      <wsdl:input message="tns:UpdateCartSoapIn" />
      <wsdl:output message="tns:UpdateCartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCart">
      <wsdl:input message="tns:DeleteCartSoapIn" />
      <wsdl:output message="tns:DeleteCartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewCart">
      <wsdl:input message="tns:ViewCartSoapIn" />
      <wsdl:output message="tns:ViewCartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CourseDetail">
      <wsdl:input message="tns:CourseDetailSoapIn" />
      <wsdl:output message="tns:CourseDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewCourses">
      <wsdl:input message="tns:ViewCoursesSoapIn" />
      <wsdl:output message="tns:ViewCoursesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTotal">
      <wsdl:input message="tns:GetTotalSoapIn" />
      <wsdl:output message="tns:GetTotalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmOrder">
      <wsdl:input message="tns:ConfirmOrderSoapIn" />
      <wsdl:output message="tns:ConfirmOrderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StudentServiceSoap" type="tns:StudentServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StudentSign">
      <soap:operation soapAction="http://tempuri.org/StudentSign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentRegister">
      <soap:operation soapAction="http://tempuri.org/StudentRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToCart">
      <soap:operation soapAction="http://tempuri.org/AddToCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCart">
      <soap:operation soapAction="http://tempuri.org/UpdateCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCart">
      <soap:operation soapAction="http://tempuri.org/DeleteCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewCart">
      <soap:operation soapAction="http://tempuri.org/ViewCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CourseDetail">
      <soap:operation soapAction="http://tempuri.org/CourseDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewCourses">
      <soap:operation soapAction="http://tempuri.org/ViewCourses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotal">
      <soap:operation soapAction="http://tempuri.org/GetTotal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmOrder">
      <soap:operation soapAction="http://tempuri.org/ConfirmOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StudentServiceSoap12" type="tns:StudentServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StudentSign">
      <soap12:operation soapAction="http://tempuri.org/StudentSign" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentRegister">
      <soap12:operation soapAction="http://tempuri.org/StudentRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToCart">
      <soap12:operation soapAction="http://tempuri.org/AddToCart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCart">
      <soap12:operation soapAction="http://tempuri.org/UpdateCart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCart">
      <soap12:operation soapAction="http://tempuri.org/DeleteCart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewCart">
      <soap12:operation soapAction="http://tempuri.org/ViewCart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CourseDetail">
      <soap12:operation soapAction="http://tempuri.org/CourseDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewCourses">
      <soap12:operation soapAction="http://tempuri.org/ViewCourses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotal">
      <soap12:operation soapAction="http://tempuri.org/GetTotal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmOrder">
      <soap12:operation soapAction="http://tempuri.org/ConfirmOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentService">
    <wsdl:port name="StudentServiceSoap" binding="tns:StudentServiceSoap">
      <soap:address location="https://localhost:44357/StudentService.asmx" />
    </wsdl:port>
    <wsdl:port name="StudentServiceSoap12" binding="tns:StudentServiceSoap12">
      <soap12:address location="https://localhost:44357/StudentService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>